<!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">


<div class="centered">
      <a class="navbar-brand" href="/"><img src="/assets/img/surfnet-logo.png" alt="Surfnet logo" type="image/png"></a>
      <a class="navbar-brand" href="/"><img src="http://core.app.bridge.uninett.no/_/bootstrap3-uninett/images/UNINETT_logo.svg" alt="Uninett logo" type="image/svg+xml"></a>
</div>

<div>
    <ul class="bs-docs-footer-links muted">
      <li>VOOT</li>
      <li>&middot;</li>
      <li><a href="http://www.geant.net">GÉANT</a></li>
      <li>&middot;</li>
      <li><a href="http://www.uninett.no">UNINETT AS</a></li>
      <li>&middot;</li>
      <li><a href="http://www.surfnet.nl">SurfNet</a></li>
    </ul>
</div>



  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="/assets/js/vendor/holder.js"></script>
<script src="/assets/js/vendor/ZeroClipboard.min.js"></script>
<script src="/assets/js/src/application.js"></script>



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>


