<li><a href="#datatypes">Data types</a></li>

<li><a href="#groups">Groups</a></li>
<li><a href="#memberships">Memberships</a></li>
<li><a href="#states">Membership states</a></li>
<li>
  <a href="#grouptypes">Group types</a>
  <ul class="nav">
    <li><a href="#gt_org">Organization</a></li>
    <li><a href="#gt_orgunit">Organizational Unit</a></li>
    <li><a href="#gt_study">Study</a></li>
    <li><a href="#gt_cohort">Cohort</a></li>
    <li><a href="#gt_course">Course</a></li>

  </ul>
</li>

