
<header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

			<a class="navbar-brand" href="/"><img src="/assets/img/geant-logo.png" alt="Geant logo" type="image/png"></a>




		</div>

		<div class="navbar-department">
			<a href="/"><div class="department">VOOT 2.0</div></a>
		</div>

		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

			<ul class="nav navbar-nav">

				<li{% if page.slug == "datamodel" %} class="active"{% endif %}>
					<a target="" href="/datamodel/">Data model</a>
				</li>

				<li{% if page.slug == "protocol" %} class="active"{% endif %}>
					<a target="" href="/protocol/">Protocol</a>
				</li>

<!--
				<li{% if page.slug == "grouptypes" %} class="active"{% endif %}>
					<a target="" href="/grouptypes/">Group types</a>
				</li>
-->
				<li class="dropdown 
				{% if page.slug == "org" %}active{% endif %}
				{% if page.slug == "orgunit" %}active{% endif %}
				{% if page.slug == "adhoc" %}active{% endif %}
				">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Group types <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">

						<li {% if page.slug == "adhoc" %} class="active"{% endif %}>
							<a href="/grouptypes/adhoc/">Ad-hoc groups</a></li>

						<li {% if page.slug == "org" %} class="active"{% endif %}>
							<a href="/grouptypes/org/">Organzation</a></li>
							
						<li {% if page.slug == "orgunit" %} class="active"{% endif %}>
							<a href="/grouptypes/orgunit/">OrgUnit</a></li>

					</ul>
				</li>


				<!--
				<li{% if page.slug == "examples" %} class="active"{% endif %}>
					<a target="" href="/examples/">Examples</a>
				</li>
				-->

				<li{% if page.slug == "usecases" %} class="active"{% endif %}>
					<a target="" href="/usecases/">Use cases</a>
				</li>

				<li{% if page.slug == "stories" %} class="active"{% endif %}>
					<a target="" href="/stories/">Deployments</a>
				</li>

				<li{% if page.slug == "v1" %} class="active"{% endif %}>
					<a target="" href="/v1/">Old version</a>
				</li>

				<li{% if page.slug == "community" %} class="active"{% endif %}>
					<a target="" href="/community/">Community</a>
				</li>

			</ul>

		</nav>
	</div>
</header>
