<li><a href="#authentication">Authentication</a></li>
<li><a href="#Localization">Localization</a></li>
<li><a href="#Caching">Caching</a></li>


<!-- <li><a href="#Protocol">Protocol</a></li> -->

<li>
  <a href="#Protocol">Protocol</a>
  <ul class="nav">
    <li><a href="#me_groups">/me/groups</a></li>
    <li><a href="#me_groups_groupid">/me/groups/{groupid}</a></li>
    <li><a href="#groups_groupid">/groups/{groupid}</a></li>
    <li><a href="#groups_groupid_members">/groups/{groupid}/members</a></li>
    <li><a href="#groups_listall">/groups</a></li>

  </ul>
</li>

