---
layout: home
title: VOOT &middot; An extensible protocol for dynamic exchange of group and authorization data.
---

<!-- <main class="bs-docs-masthead" id="content" role="main">
	<div class="container">
		<h1>Feide Connect</h1>
		<p class="lead">Feide Connect is a modern service platform for services for higher and lower education in Norway.</p>
		<p class="lead">
			<a href="getting-started" class="btn btn-outline-inverse btn-lg">Getting started</a>
		</p>

	</div>
</main> -->


<div class="bs-docs-header" id="content">
	<div class="container">
		<h1>VOOT</h1>
		<p>An extensible protocol for dynamic exchange of group and authorization data.</p>
	</div>
</div>

<div class="container">

	<!-- <h2 class="bs-docs-featurette-title">...</h2>
	<p class="lead">Feide connect .</p>
-->

	<div>


		<p>VOOT defines a <a href="/datamodel/">data model</a> and a <a href="/protocol/">protocol</a> to dynamically fetch group related information to applications, web services or collaboration tools. Group information is typically used for access control and or for social services where users interact within various group contexts.</p>

		<p>VOOT is designed to fulfill the requirements from research and educational institutions, but is not limited to these. Very specific attributes to use cases within education is kept in separate dedicated schemas to increase flexibility.</p>

		<p>VOOT focuses on the use case where the client does not contain any information about the user in advance, but will dynamically obtain the data needed, when needed, at the time the user logs in, or even at a later time (with a persistent OAuth token). Therefore most of the protocol requests discussed is viewed from the perspective of the current authenticated user.</p>

		<p>VOOT expect the client to obtain basic user details about the current user by other means than VOOT/SCIM, such as <a href="http://saml.xml.org">SAML</a> or <a href="http://openid.net/connect/">OpenID Connect</a>.</p>

		<p>VOOT aims at efficent transport and retrieval of data to reduce latency when used live in the user&rsquo;s client. This implies that we add support for retrieving most combination of data in a single or a few requests.</p>


		<p>VOOT extends <a href="http://simplecloud.info">SCIM</a>, and plays well with <a href="http://saml.xml.org">SAML</a> or <a href="http://openid.net/connect/">OpenID Connect</a>.</p>








	</div>



</div>






<!-- 
<hr class="half-rule">
 -->
<!-- <div class="row">
	<div class="col-sm-4">
		<img src="assets/img/components.png" alt="Sass and Less support" class="img-responsive">
		<h3>Users</h3>
		<p>....</p>
	</div>
	<div class="col-sm-4">
		<img src="assets/img/components.png" alt="Responsive across devices" class="img-responsive">
		<h3>Developers</h3>
		<p>....</p>
	</div>
	<div class="col-sm-4">
		<img src="assets/img/components.png" alt="Components" class="img-responsive">
		<h3>Data Owners</h3>
		<p>....</p>
	</div>
</div> -->

<!-- <hr class="half-rule">
 -->


<!--
<div>
<ul>
  {% for post in site.posts %}
	<li>
	  <a href="{{ post.url }}">{{ post.title }}</a>
	</li>
  {% endfor %}
</ul>
</div>


<div class="bs-docs-featurette">
	<div class="container">
		<h2 class="bs-docs-featurette-title">Built with Bootstrap.</h2>
		<p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our favorites.</p>

		<hr class="half-rule">

		<div class="row bs-docs-featured-sites">
			{% for showcase in site.data.showcase %}
			<div class="col-xs-6 col-sm-3">
				<a href="{{ showcase.expo_url }}" target="_blank" title="{{ showcase.name }}">
					<img src="http://expo.getbootstrap.com/thumbs/{{ showcase.img }}-thumb.jpg" alt="{{ showcase.name }}" class="img-responsive">
				</a>
			</div>
			{% endfor %}
		</div>

		<hr class="half-rule">

		<p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
		<a href="{{ site.expo }}" class="btn btn-outline btn-lg">Explore the Expo</a>
	</div>
</div>
-->